<div class="kennethProfile row">
	<div class="col-xs-12 col-md-4">
		<img class="photo bottom center-block img-circle" src="img/about/kenneth.jpg">
	</div>
	<div class="col-xs-12 col-md-8">
		<div class="title text-center">
			Kenneth Chua
		</div>
		<ul class="profileList">
			<li>Founder</li>
			<li>21 years in bowling business</li>
			<li>IBPSIA Technical Certification since 1999</li>
			<li>Singapore Special Olympic World Summer Games Bowling Coach (2007)</li>
			<li>Catholic High School bowling coach</li>
			<li>Catholic Primary School bowling coach</li>
		</ul>
	</div>
</div>

<hr>

<div class="shopDescription">
	<div class="title text-center bottom">
		Founder's story
	</div>
	<p>Kenneth Chua, owner of Ken Pro Shop in Kallang Bowl, Singapore, is one of the first 97 bowling pro shop and instructional professionals in the world to have earned Technical Certification from the International Bowling Pro Shop & Instructors Association Inc. (IBPSIA).</p>

	<p>One of some 400 candidates currently enrolled in IBPSIA's Certification Program, Kenneth completed the three-year course in less than one year.</p>

	<p>To fulfill requirements of the Certification Program, Kenneth participated in a four-day, hands-on workshop during the spring of 1999; accumulated the required additional credits at the association's annual conference in Las Vegas, Nev., in July 1999; and completed written study guides and the final, written test based on the workshop and IBPSIA's 150-page "Technical Manual."</p>

	<p>IBPSIA's Technical Certification reflects the holder's expertise in the technology-based elements of pro shop operation - fitting and drilling techniques, product knowledge, work bench activities and customer service.</p>

	<p>Kenneth specializes in retail sales of bowling equiptment, supplies, accessories and apparel; and in providing technical services such as measuring and fitting bowlers' hands to ensure the proper grip, as well as drilling, plugging and resurfacing bowling balls.</p>

	<p>Founded in November 1990, IBPSIA's mission is to provide education, communication and recognition for bowling pro shop and instructional professional, in order to create a foundation for the advancement of the worldwide bowling industry. Currently, IBPSIA's membership comprises some 650 businesses throughout the world.</p>

	<p>More information may be obtained by contacting IBPSIA at http://www.ibpsia.com/</p>

	<p>
		<img class="photo center-block" src="img/about/certified.jpg">
	</p>
</div>