<div class="panel panel-products">
	<a href="#products/balls">
		<div class="panel-body">
			<img class="center-block photo" src="img/products-balls.png">
		</div>
		<div class="panel-footer">
			<div class="title text-center">
				Balls
			</div>
		</div>
	</a>
</div>

<div class="panel panel-products">
	<a href="#products/bags">
		<div class="panel-body">
			<img class="center-block photo" src="img/products-bags.png">
		</div>
		<div class="panel-footer">
			<div class="title text-center">
				Bags
			</div>
		</div>
	</a>
</div>

<div class="panel panel-products">
	<a href="#products/shoes">
		<div class="panel-body">
			<img class="center-block photo" src="img/products-shoes.jpg">
		</div>
		<div class="panel-footer">
			<div class="title text-center">
				Shoes
			</div>
		</div>
	</a>
</div>

<div class="panel panel-products">
	<a href="#products/accessories">
		<div class="panel-body">
			<img class="center-block photo" src="img/products-accessories.jpg">
		</div>
		<div class="panel-footer">
			<div class="title text-center">
				Accessories
			</div>
		</div>
	</a>
</div>