<div class="panel panel-services">
	<div class="panel-heading">
		<div class="title text-center">
			Offer Set Promotion
		</div>
	</div>
	<div class="panel-body">
		<img class="photo" src="images/promotions/offerset.gif">
		<div class="collapseOfferSet panel-collapse collapse">
			<hr>
	         <a data-toggle="collapse" data-parent=".panel-services" href=".collapseOfferSet">
				<div class="text-center">
					<span class="glyphicon glyphicon-chevron-up"></span>
				</div>
			</a>
	        <hr>
	        <h3>Offer Set promotion for beginner/advance bowlers</h3>
	        <p>
	        	Columbia 300 bowling ball + bowling shoes + single ball bag + ball polisher @ S$175
	        </p>
	        <p>
	        	Ebonite bowling ball + bowling shoes + single ball bag + ball polisher @ S$255
	        </p>
	    </div>
	</div>

	<a data-toggle="collapse" data-parent=".panel-services" href=".collapseOfferSet">
		<div class="panel-footer text-center">
			<span class="glyphicon glyphicon-info-sign"></span>
		</div>
	</a>
</div>