<div class="panel panel-services">
	<div class="panel-heading">
		<div class="title text-center">
			The Wave by PowerHouse
		</div>
	</div>
	<div class="panel-body">
		<img class="photo" src="images/services/thewave.png">
		<div class="collapseTheWave panel-collapse collapse">
			<hr>
	         <a data-toggle="collapse" data-parent=".panel-services" href=".collapseTheWave">
				<div class="text-center">
					<span class="glyphicon glyphicon-chevron-up"></span>
				</div>
			</a>
	        <hr>
	        Please visit <a href="http://powerhousebowling.com/products/product_detail/the_wave"><strong>The Wave</strong></a> for more information.
	    </div>
	</div>

	<a data-toggle="collapse" data-parent=".panel-services" href=".collapseTheWave">
		<div class="panel-footer text-center">
			<span class="glyphicon glyphicon-info-sign"></span>
		</div>
	</a>
</div>

<div class="panel panel-services">
	<div class="panel-heading">
		<div class="title text-center">
			Bowling Ball Hook Restoration
		</div>
	</div>
	<div class="panel-body">
		<img class="photo" src="images/services/hookrestoration.jpg">
		<div class="collapseHookRestoration panel-collapse collapse">
	        <hr>
	        <a data-toggle="collapse" data-parent=".panel-services" href=".collapseHookRestoration">
				<div class="text-center">
					<span class="glyphicon glyphicon-chevron-up"></span>
				</div>
			</a>
	        <h3>Ebonite PowerHouse Hook Again Treatment</h3>
	        <p>
	        	The first and ONLY proven formula to actually restore hook to 'dead' bowling balls!
	        </p>
	        <p>
	        	Brings as much as 99.8% performance back.
	        </p>
	        <p>
	        	Performance tested, safe for reactive and particle balls.
	        </p>
	        <p>
	        	Quick Recovery - Works in 24 hours.
	        </p>
	    </div>
	</div>

	<a data-toggle="collapse" data-parent=".panel-services" href=".collapseHookRestoration">
		<div class="panel-footer text-center">
			<span class="glyphicon glyphicon-info-sign"></span>
		</div>
	</a>
</div>

<div class="panel panel-services">
	<div class="panel-heading">
		<div class="title text-center">
			Bowling Ball Resurfacing
		</div>
	</div>
	<div class="panel-body">
		<img class="photo" src="images/services/resurfacing.jpg">
		<div class="collapseResurfacing panel-collapse collapse">
	        <hr>
	        <a data-toggle="collapse" data-parent=".panel-services" href=".collapseResurfacing">
				<div class="text-center">
					<span class="glyphicon glyphicon-chevron-up"></span>
				</div>
			</a>
	        <h3>Haus Resurfacing System</h3>
	        <p>
	        	After numerous games on wood or synthetic lanes, your ball will loose consistent cover reaction.
	        </p>
	        <p>
	        	Regular resurfacing with the Haus Resurfacing System can:
        		<ul>
        			<li>
        				<h6><strong>IMPROVE YOUR GAME</strong></h6>
        				Bowling consistency requires consistent cover reaction. Regular resurfacing can help you achieve that critical consistency.
        			</li>
        			<li>
        				<h6><strong>LENGTHEN YOUR BALL'S LIFE</strong></h6>
        				By resurfacing your ball, minimal ball surface is removed, avoiding the need to remove deep track and drop areas, and extending the length of time your ball meets ABC specifications.
        			</li>
        			<li>
        				<h6><strong>ASSURE YOU OF RESURFACING CONSISTENCY</strong></h6>
        				Consistent &amp; accurate results, time after time. Unlike manually resurfaced balls, our automatic system maintains and returns your ball back to it's original manufacturers' specifications or better. Operator error is virtually eliminated. Your entire ball surface is refinished, not just the drop and track areas.
        			</li>
	        </p>
	    </div>
	</div>

	<a data-toggle="collapse" data-parent=".panel-services" href=".collapseResurfacing">
		<div class="panel-footer text-center">
			<span class="glyphicon glyphicon-info-sign"></span>
		</div>
	</a>
</div>

<div class="panel panel-services">
 	<div class="panel-heading">
  		<div class="title text-center">
			Other Services
		</div>
 	</div>
 	<div class="panel-content">
 		<div class="panel-group otherServices">
 			<div class="panel">
		    	<div class="panel-heading">
		    		<div class="sub-title text-center">
		        		<a data-toggle="collapse" data-parent=".otherServices" href=".collapseReplug">
		        			Replug
		        		</a>
		    		</div>
		    	</div>
		    	<div class="collapseReplug panel-collapse collapse">
		      		<div class="panel-body">
		        		Ball grip feeling stretched? Having blisters on your thumb or fingers? Thumb or finger pitch (angle) may not be the correct fit for your hand. Bring your bowling ball down for a no obligation inspection by the professional.
		      		</div>
		    	</div>
		    </div>

			<div class="panel">
		    	<div class="panel-heading">
			      	<div class="sub-title text-center">
			        	<a data-toggle="collapse" data-parent=".otherServices" href=".collapseInserts">
			          		Thumb/Rubber inserts changing
			        	</a>
			    	</div>
			    </div>
			    <div class="collapseInserts panel-collapse collapse">
			    	<div class="panel-body">
			        	Just like car tyres, rubber inserts do wear out as well. Get your grip back and produce the same ball revolution consistently.
			    	</div>
			    </div>
			</div>

			<div class="panel">
				<div class="panel-heading">
			    	<div class="sub-title text-center">
			        	<a data-toggle="collapse" data-parent=".otherServices" href=".collapseDrilling">
			          		Drilling
			    		</a>
			    	</div>
			    </div>
			    <div class="collapseDrilling panel-collapse collapse">
			    	<div class="panel-body">
			        	Bought a bowling ball somewhere else? Get Kenneth to advise you on the most suitable drilling pattern and drill the bowling ball professionally. After all, he is Singapore's ONLY IBPSIA certified bowling ball driller.
			    	</div>
			    </div>
			</div>

			<div class="panel">
				<div class="panel-heading">
			    	<div class="sub-title text-center">
			        	<a data-toggle="collapse" data-parent=".otherServices" href=".collapseCoaching">
			          		Coaching
			        	</a>
			      	</div>
			    </div>
			    <div class="collapseCoaching panel-collapse collapse">
			    	<div class="panel-body">
			        	Learn to bowl correctly from the professionals! We have classes for Beginners, intermediate and advanced bowlers for all ages, companies and school. Our team of dedicated coaches are qualified bowling coaches certified by Singapore Bowling Federation (SBF) and United States Bowling Congress (USBC). For enquiries, please call 9615 6988.
			    	</div>
			    </div>
			</div>
		</div>
 	</div>
</div>















